.button {
  width: 166px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: $primary-color;
  color: $background-color;
  font-size: $font-size-lg;
  line-height: 16px;
  font-weight: 700;
  border: $border-width solid transparent;
  border-radius: $border-radius;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: $spacing-sm;
  padding: 0;

  transition:
    background-color $transition,
    color $transition,
    border-color $transition;

  &:hover {
    border-color: $primary-color;
    background-color: #fff;
    color: $primary-color;
  }
}
