.catalog {
  margin: 0 auto;
  padding: 50px 40px;
  display: grid;
  grid-template-columns: repeat(1, $card-width);
  gap: 48px 46px;
  justify-content: center;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $card-width);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $card-width);
  }
}

.card {
  width: $card-width;
  border: 1px solid rgba(243, 243, 243, 1);
  border-radius: $border-radius;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  transition: transform $transition;

  &:hover {
    transform: scale(1.2);
    z-index: 2;
  }

  &__image {
    width: 160px;
    height: 134px;
    margin: 32px 19px 40px;
  }

  &__content {
    padding: 0 16px;
  }

  &__title {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 4px;
    color: $text-color;
  }

  .card:hover .card__title {
    color: #34568b;
  }

  &__code {
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    color: $muted-text-color;
    margin-bottom: 16px;
  }

  &__stars-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__reviews {
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    color: $text-color;
    margin-left: 17px;
    align-self: flex-end;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__price-text {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: $muted-text-color;
  }

  &__price {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: $text-color;
  }
}
