$card-width: 200px;
$border-radius: 5px;
$font-family: 'Roboto', sans-serif;
$primary-color: #00acdc;
$text-color: #060b35;
$muted-text-color: rgba(97, 96, 112, 1);
$background-color: #fff;
$star-size: 16px;
$transition: 0.3s ease;
